// Bootstrap
@import 'bootstrap/bootstrap.scss';
$highlight: #fe3646;
@import url('https://fonts.googleapis.com/css?family=Bitter:700|Mukta:400,600');

body {
  font-family: 'Mukta', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  position: relative;

  &.no-scroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bitter', serif;
  font-weight: 700;
}

.highlight-text {
  color: $highlight;
}

.genre-box {
  position: relative;
  height: 120px;
  margin-bottom: $spacer*2;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;

  &__overlay {
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 22px;
    box-shadow: 3px 0 20px rgba(#000, .5);

    &:hover {
      background-color: rgba(#000, 0.5) !important;
      box-shadow: none;
      color: #fff;
      text-decoration: none;
    }
  }
}

.filters {
  display: flex;

  .switch-field {
    margin-top: 1px;
    display: flex;
    justify-content: center;
    overflow: hidden;

    input {
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;

      &:checked + label {
        background-color: $highlight;
        color: #fff;
        box-shadow: none;
      }
    }

    label {
      background-color: #e9ecef;
      color: #495057;
      font-size: 14px;
      text-align: center;
      padding: 6px 12px;
      margin-right: -1px;
      margin-bottom: 0;
      border: 1px solid #ced4da;
      transition: all 0.1s ease-in-out;
      width: 50%;

      @include media-breakpoint-up(sm) {
        width: auto;
      }

      &:hover {
        cursor: pointer;
      }

      &:first-of-type {
        border-radius: 4px 0 0 4px;
      }

      &:last-of-type {
        border-radius: 0 4px 4px 0;
      }
    }
  }

  .remainingFilters {
    display: block;

    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: center;
    }

    .input-group {
      &-text {
        font-size: 14px;
      }
    }
  }
}

.movie {
  &__image {
    img {
      width: 100%;
    }
  }
}

.btn-main {
  background-color: $highlight;
  color: #fff;
}
