<!DOCTYPE html>
<html lang="en-GB" class="no-js">

<head>
	<meta charset="utf-8">
  {% if page.noindex %}
	  <meta name="robots" content="noindex">
  {% endif %}

	<title>{{ page.title }} | Social </title>

	<meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" href="{{ site.baseurl }}/favicon/favicon.ico?v=3">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon/favicon-16x16.png">
	<link rel="manifest" href="{{ site.baseurl }}/favicon/site.webmanifest">
	<link rel="mask-icon" href="{{ site.baseurl }}/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#fe3646">
	<link rel="canonical" href="https://eli-nathan.github.io{{ site.baseurl }}{{page.url}}">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/darcula-theme.css">
</head>

<body>

	{{ content }}

	{% include scripts.html %}

</body>

</html>
